DATABASE_URL=postgresql://postgres:akjshdajshdd17h83eskhfy@194.163.159.253:15432/ai_influencer
REDIS_URL=redis://default:474d537n2nvjykv6@194.163.159.253:16379
MINIO_ENDPOINT=h1qckf9wnatax47q2e26-minio-0ee359-194-163-159-253.traefik.me
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=odz3fyii9krlnn9g
MINIO_BUCKET=ai-influencer
MINIO_REGION=us-east-1
MINIO_PUBLIC_BASE_URL=h1qckf9wnatax47q2e26-minio-0ee359-194-163-159-253.traefik.me
AUTH_SECRET=
AUTH_URL=http://localhost:3000
MASTER_KEY=
GOOGLE_GENAI_API_KEY=
INSTAGRAM_CLIENT_ID=1505303880908147
INSTAGRAM_CLIENT_SECRET=67f5fcd4a590ec37e861384b1061b7d9
INSTAGRAM_REDIRECT_URI=http://localhost:3000/api/oauth/instagram/callback
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_REDIRECT_URI=http://localhost:3000/api/oauth/facebook/callback
THREADS_APP_ID=
THREADS_APP_SECRET=
THREADS_REDIRECT_URI=http://localhost:3000/api/oauth/threads/callback
TIKTOK_CLIENT_KEY=sbawrlv4y53ks9d3gn
TIKTOK_CLIENT_SECRET=hYG4wTzjlIYUjjyal0v7OGRvBV9bTaHY
TIKTOK_REDIRECT_URI=http://localhost:3000/api/oauth/tiktok/callback
